<div class="row">
	<div class="col-xs-9">
		<div id="feed">
		<%= form_tag("/post/create", method: "post") do %>
		<input type="text" name="content" class="form-control" placeholder="What are you up to?" />
		<% end %>
		<% @activities.each do |activity| %>
			<div class="feed-item">
			<% if activity.content_type == 'post' %>
				<% post = Post.find(activity.content_id) %>
				<div class="feed-avatar">
					<%= image_tag(post.user.avatar, :alt => "Avatar", :class => "img-circle") %>
				</div>
				<div class="feed-body">
					<div class="feed-author"><strong><a href="/user/show/<%= post.user.id %>"><%= post.user.full_name %></a></strong></div>
					<div class="feed-time"><%= post.created_at.strftime("%B %e, %Y") %></div>
					<div class="feed-content"><%= post.content %></div>
					<div class="feed-social">
						<!--<div class="feed-likes"></div>
						<%= form_tag("/comment/create", method: "post") do %>
						<input type="text" name="new-comment" class="form-control" />
						<% end %>-->
					</div>
				</div>
			<% end %>
			</div>
		<% end %>
		</div>
	</div>
	<div id="sidebar" class="col-xs-3">
		<div class="sidebar-name"><strong><a href="/user/show/<%= current_user.id %>"><%= current_user.full_name %></a></strong></div>
		<div class="sidebar-editprofile"><a href="/user/profile">Edit Profile</a> | <a href="/user/logout">Logout</a></div>
		<div class="sidebar-actions">
			<li class="sidebar-action"><i class="fa fa-calendar"></i>Events</li>
			<li class="sidebar-action"><i class="fa fa-users"></i>Members</li>
		</div>
		<div class="sidebar-groups">
			<% current_user.groups.each do |group| %>
			<li class="sidebar-group"><a href="/group/<%= group.id %>"><%= group.name %></a></li>
			<% end %>
		</div>
	</div>
</div>