<div class="row">
  <div class="col-xs-9">
    <div id="feed">
    </div>
  </div>
  <div id="sidebar" class="col-xs-3">
    <div id="sidebar-profile">
      <div class="sidebar-name"><strong><a href="/users/show/<%= current_user.id %>"><%= current_user.full_name %></a></strong></div>
      <div class="sidebar-editprofile"><a href="/users/profile">Edit Profile</a> | <a href="/users/logout">Logout</a></div>
    </div>
    <div id="sidebar-actions">
    </div>
    <div id="sidebar-groups">
    <% current_user.groups.each do |group| %>
      <div class="sidebar-group" group-identifier="<%= group.identifier %>" group-id="<%= group.id %>"><%= group.name %></div>
    <% end %>
    </div>
  </div>
</div>

<script id="template-feed" type="text/template">
<form id="add-post" action="/group/<%%= group %>" method="put">
  <input id="add-post-content" type="text" name="content" class="form-control" placeholder="What do you want to tell your group today?" />
</form>
<div id="feed-items"></div>
</script>

<script id="template-post" type="text/template">
<div class="feed-item" id="post-<%%= id %>">
  <div class="feed-avatar">
    <img src="<%%= user.avatar.url %>" class="img-circle" />
  </div>
  <div class="feed-body">
    <div class="feed-author"><strong><a href="#"><%%= user.first_name %></a></strong></div>
    <div class="feed-time"><%%= created_at %></div>
    <div class="feed-content"><%%= content %></div>
    <div class="feed-social">
      <div id="post-<%%= id %>-comments"></div>
      <form id="post-<%%= id%>-comment" action="/posts/<%%= id %>" method="post" post-id="<%%= id %>" >
        <input class="form-control" id="post-<%%= id %>" type="text" placeholder="Add a comment" />
      </form>
    </div>
  </div>
</div>
</script>

<script id="template-comment" type="text/template">
<div class="feed-comment" id="comment-<%%= id %>">
  <%%= comment %>
</div>
</script>

<!--

<script id="bb-sidebar-profile" type="text/template">

</script>

<script id="bb-sidebar-actions" type="text/template">

</script>

<script id="bb-sidebar-groups" type="text/template">

</script>

<script id="bb-feed" type="text/template">
<form id="add-post" action="/group/<@= group @>/add" method="post">
  <input id="add-post-content" type="text" name="content" class="form-control" placeholder="What do you want to tell your group today?" />
</form>
<div id="feed-items"></div>
</script>

<script id="bb-feed-post" type="text/template">
<div class="feed-item" id="post-<@= id @>">
  <div class="feed-avatar">
    <img src="<@= avatar @>" class="img-circle" />
  </div>
  <div class="feed-body">
    <div class="feed-author"><strong><a href="#"><@= name @></a></strong></div>
    <div class="feed-time"><@= timestamp @></div>
    <div class="feed-content"><@= content @></div>
    <div class="feed-social">
      <form class="add-comment" post-id="<@= id @>" action="/post/<@= id @>/add" method="post">
        <input class="form-control" id="post-<@= id @>" type="text" placeholder="Add a comment" />
      </form>
    </div>
  </div>
</div>
</script>

<script>

$(function() {

  // Eliminate conflicts with Rails
  _.templateSettings = {
      interpolate: /\<\@\=(.+?)\@\>/gim,
      evaluate: /\<\@(.+?)\@\>/gim,
      escape: /\<\@\-(.+?)\@\>/gim
  };

  var Comment = Backbone.Model.extend({

  });

  var CommentCollection = Backbone.Collection.extend({

    model: Comment

  });

  var Post = Backbone.Model.extend({

  });

  var Activity = Backbone.Model.extend({

  });

  var ActivityCollection = Backbone.Collection.extend({

    model: Activity

  });

  var User = Backbone.Model.extend({

  });

  var PostView = Backbone.View.extend({

    el: $('#feed-items'),

    template: _.template($('#bb-feed-post').html()),

    events: {

      'submit .add-comment': 'addComment'

    },

    initialize: function() {

      // Get a pointer to the parent object
      var _this = this;

      // Get the corresponding post object
      $.get('/post/' + this.options.post, function(data) {

        // Set the model to our JSON response
        _this.model = data;

        // Render the view
        _this.render();

      });

    },

    render: function() {

      // TODO: Use el before the prepend
      $('#feed-items').prepend(this.template(this.model));

    },

    addComment: function(e) {

      // Reference to the parent object
      var _this = this;

      // Reference to the targeted item in the DOM
      var target = e.target;

      console.log(target);

      // Prevent the default action
      e.preventDefault();

    }

  });

  var FeedView = Backbone.View.extend({

    el: $('#feed'),

    template: _.template($('#bb-feed').html()),

    events: {

    },

    initialize: function() {

      // Get a pointer to the parent object
      var _this = this;

      // Create a new ActvityCollection for the feed
      this.activityCollection = new ActivityCollection();

      this.activityCollection.on('add', function(model) {

        _this.renderActivity(model.get('content_type'), model.get('content_id'));

      });

      // Set the URL for the collection
      this.activityCollection.url = '/group/' + this.options.group + '/feed';

      // Attempt to fetch objects into the ActivityCollection
      this.activityCollection.fetch({

        success: function() {
          
          _this.render();

          for (var index in _this.activityCollection.models) {

            // Get the model by the index
            var model = _this.activityCollection.models[index];

            // Render the activity model
            _this.renderActivity(model.attributes.content_type, model.attributes.content_id);

          }

        }

      });

    },

    render: function() {

      $(this.el).html(this.template(this.options));

    },

    renderActivity: function(content_type, content_id) {

      // Check the attributes
      if (content_type == 'post') {

        // Render a post view
        var postView = new PostView({
          post: content_id
        });

      }

    }

  });

  var AppView = Backbone.View.extend({

    el: $('main'),

    events: {

      'submit #add-post': 'addPost',
      'click .sidebar-group': 'loadGroup'

    },

    initialize: function() {

      // Get a reference to the parent object
      var _this = this;

      // Get an initial group reference number
      this.group = '<%= current_user.groups.first.id %>';

      // Create the feedView
      this.feedView = new FeedView({
        group: _this.group
      });

    },

    render: function() {

    },

    renderFeed: function() {

    },

    addPost: function(e) {

      // Reference to the parent object
      var _this = this;

      // Get the content from the text box
      var content = $('#add-post-content').val();

      // Create a POST request
      $.post('/post/create', { group: this.group, content: content }, function(response) {

        // Refresh the data feed with the new activity
        _this.feedView.activityCollection.add(response);

        // Clear out the input field
        $('#add-post-content').val('');

      });

      // Prevent the default action
      e.preventDefault();

    },

    loadGroup: function(e) {

      // Get a reference to the app
      var _this = this;

      // Get the target
      var id = e.target.getAttribute('group-id');

      // Set the app group ID
      this.group = id;

      // Create the feedView
      this.feedView = new FeedView({
        group: _this.group
      });

    },

    likePost: function() {

      var _this = this;

    },

  });

  var App = new AppView;

});

</script>

-->
